.section__description {
  margin: 0 auto;
  margin-top: 10px;
  width: 423px;
  height: 60px;
  font-family: 'Poppins';
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5);
}